@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-main-background: var(--main-background);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --main-background: var(--light-green);
  --background: #ffffff;
  --foreground: #1d1c1c;
  --card: #ffffff;
  --card-foreground: #1d1c1c;
  --popover: #ffffff;
  --popover-foreground: #1d1c1c;
  --primary: var(--dark-green);
  --primary-foreground: #fff;
  --secondary: var(--light-green);
  --secondary-foreground: var(--medium-green);
  --muted: #f9f9f9;
  --muted-foreground: #6e6d6c;
  --accent: var(--light-green);
  --accent-foreground: var(--dark-green); 
  --destructive: #d65b3a;
  --border: #ececec;
  --input: #ececec;
  --ring: #b5b5b4;
  --chart-1: #d46b3c;
  --chart-2: #4a7bd1;
  --chart-3: #3a5bdc;
  --chart-4: #f3b24b;
  --chart-5: #e3a63c;
  --sidebar: #fdfdfd;
  --sidebar-foreground: #1d1c1c;
  --sidebar-primary: #2b2b2b;
  --sidebar-primary-foreground: #fdfdfd;
  --sidebar-accent: #f9f9f9;
  --sidebar-accent-foreground: #2b2b2b;
  --sidebar-border: #ececec;
  --sidebar-ring: #b5b5b4;

  /* customs */
  --dark-green: #376D62;
  --light-green: #EEF6F5;
  --medium-green: #488981;
}

.dark {
  --main-background: #1d1c1c;
  --background: #1d1c1c;
  --foreground: #fdfdfd;
  --card: #2b2b2b;
  --card-foreground: #fdfdfd;
  --popover: #2b2b2b;
  --popover-foreground: #fdfdfd;
  --primary: #ececec;
  --primary-foreground: #2b2b2b;
  --secondary: #2a2a27;
  --secondary-foreground: #fdfdfd;
  --muted: #2a2a27;
  --muted-foreground: #b5b5b4;
  --accent: #2a2a27;
  --accent-foreground: #C3E1DB;
  --destructive: #e37a4a;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #6e6d6c;
  --chart-1: #4b5be3;
  --chart-2: #6bb8d1;
  --chart-3: #e3a63c;
  --chart-4: #a06bf3;
  --chart-5: #e38b4a;
  --sidebar: #2b2b2b;
  --sidebar-foreground: #fdfdfd;
  --sidebar-primary: #4b5be3;
  --sidebar-primary-foreground: #fdfdfd;
  --sidebar-accent: #2a2a27;
  --sidebar-accent-foreground: #fdfdfd;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #6e6d6c;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-card sm:bg-main-background text-foreground sm:bg-[radial-gradient(rgb(247,244,234,1)_20%,transparent_0),radial-gradient(rgb(247,244,234,1)_20%,transparent_0)];
  }
  /* custom styles */
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
  h1 {
  @apply text-4xl font-semibold text-accent-foreground;
  }
  h2 {
    @apply text-lg text-foreground;
  }
  blockquote {
  @apply mt-3 border-l-2 pl-6;
  }
  ul {
    @apply mt-3 ml-6 list-disc [&>li]:mt-2;
  }
  p, li {
    @apply text-muted-foreground text-sm;
  }
  button a {
  @apply no-underline appearance-none;
}

a:not(button a) {
  @apply text-accent-foreground underline underline-offset-4 hover:text-accent-foreground/80;
}

}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

/* custom tailwind classes */
.windowSize {
  @apply w-screen max-sm:border-0 max-sm:shadow-none sm:w-2xl sm:max-w-[90vw] sm:h-[70vh];
}

.tabCard {
  @apply overflow-y-auto max-sm:border-0 max-sm:shadow-none;
}

.btn-stacked {
  @apply flex flex-col items-center gap-1 text-center size-20;
}

.btn-stacked > svg {
  @apply size-8 mb-1;
}

.btn-stacked span, .btn-stacked a {
  @apply text-xs;
}

